# Editors
.vscode
*.code-workspace

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
bin
dist/
cover.out
cover.html

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# System
.DS_Store

dist/
