<h2>Files</h2>
{{if .deleteSuccess}}<p class="alert alert-success">Removed successfully: {{.path}}</p>{{end}}
{{if .deleteError}}<p class="alert alert-error">Unable to remove: {{.path}}{{if .error}}<br>{{.error}}{{end}}</p>{{end}}
{{if .updateSuccess}}<p class="alert alert-success">Updated successfully: {{.path}}</p>{{end}}
{{if .updateError}}<p class="alert alert-error">Unable to update: {{.path}}{{if .error}}<br>{{.error}}{{end}}</p>{{end}}
<ul>
{{range $path, $size := .files}}
    <li>
    <a href="/files/read?path={{$path}}">Edit</a>
    <a href="/files/delete?path={{$path}}" onclick="return confirm('Are you sure you want to delete?');">Delete</a>
    <span title="{{$size}}">{{$path}}</a>
    </li>
{{end}}
</ul>
